<%-include('../partials/header.html')%>
    <link rel="stylesheet" href="/../../css/admin.css">
    <title>Admin Home</title>
    </head>

    <body>

       
                    
        <%-include('partials/navbar.html')%>
        <div class="container-fluid">
            
                </div>
            </div>
        </div>

        <%-include('../partials/footer.html')%>
