<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Class </title>
</head>
<body>
    <h1>Add New Class</h1>
    <form method="POST">
        Class Name: <input type="text" name="name" required><br><br>
        Section  : <input type="text" name="companyName" required><br><br>
        <input type="submit" value="ADD" name="add">
    </form>
	
	
				<div class="tbox">
					<h3 style="margin-top:30px;"> Class Details</h3><br>
					
					<table border="1px" >
						<tr>
							<th>S.No</th>
							<th>Class Name</th>
							<th>Section</th>
							<th>Delete</th>
						</tr>
						
					
					</table>
				</div>
	
</body>
</html>
