<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <h1>Add New User</h1>
    <form method="POST">
        Emp.Name : <input type="text" name="name" required><br><br>
        CompanyName : <input type="text" name="companyName" required><br><br>
        Contact No : <input type="text" name="contact" required><br><br>
        Username : <input type="text" name="username" required><br><br>
        Password : <input type="password" name="password" required><br><br>
        Type     : <input type="text" name="type" required><br><br>
        <input type="submit" value="REGISTER" name="btnRegister">
    </form>
</body>
</html>